.box-email-verify{
    display: flex;
    align-items: center;
    
}
.box-email-verify svg{
   margin-left: 4px;
    
}
.text-verify{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.carousel-inner{
    width: 100% !important;
    /* height: 250px !important; */
}