.footer {
    margin-top: 50px;
    background-color: white;
    padding: 40px;
    border-top: 1px solid #dee2e6;
  }
  
  .footer-content {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 68px;
    margin: 0 auto;
  }
  
  .footer-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    margin: 15px 0;
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-section i {
    margin-right: 8px;
  }
  
  .footer-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .footer-logos img {
    margin: 0 10px;
    max-height: 40px;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  